/*CSS Documents */

img{
    width: 100%;
}
body{
     background-color: #fff9ed;
}

 h1{
     font-family: cubano-sharp, sans-serif;
     font-weight: 400;
     font-size: 3em;
     font-style: normal;
     margin-bottom: .2em;
}
 h2{
     font-family: gitan-latin, sans-serif;
     font-weight: 700;
     font-style: normal;
     color: #ff0033;
     margin-bottom: .2em;
     margin-top: .2em;
}
 h3{
     font-family: omnes-pro, sans-serif;
     font-weight: 700;
     font-style: normal;
     margin-bottom: 0em;
     margin-top:0em;
}
 h4{
     font-family: omnes-pro, sans-serif;
     font-weight: 400;
     font-style: normal;
     margin-top: .2em;
     margin-bottom: .2em;
}
 p{
     font-family: omnes-pro, sans-serif;
     font-weight: 300;
     font-style: normal;
     margin-bottom: .8em;
     margin-top: .1em;
}
 li{
     font-family: omnes-pro, sans-serif;
     font-weight: 300;
     font-style: normal;
}


.container{
    max-width: 50em;
    margin:auto;
}
.logo{
    width:30em;
}

  .navbar ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     background-color: #ff3366;
/*     min-height: 3.4em;*/
}


.navbar ul li{
     font-family: omnes-pro, sans-serif;
     font-weight: 300;
     font-style: normal;
/*     display: inline;*/
/*    font-size: 2em;*/
    padding-left: .2em;

}

 .navbar li a {
     color: white;
     text-decoration: none;
}

 .homeimages {
     float:left;
     align-content: center;
}

.menuimages{
    float:left;
    align-content: center; 
    
}
/*
 .navbar li a:hover {
     background-color: #ff0033;
}
*/


