/*CSS document*/

body {
    font-family: gopher, sans-serif;
    font-weight: 200;
    font-style: normal;
}

h3 {
    font-family: gopher, sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    padding-bottom:3em;
    text-align: center;
}

nav ul li {
    list-style:none;
    display:inline;
    font-family: gopher, sans-serif;
    text-transform:uppercase;
    text-align: center;
    font-weight:200;
    letter-spacing:.3em;
    padding: 1.5em;
}

nav ul li a {
    text-decoration:none;
    color:black;
}

div.container {
    max-width: 40em;
    margin: auto;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

.mainstory {
    font-family: gopher, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
}

.withimage {
    padding-bottom: 3em;
}
    
.noimage {
    padding-top: 2em;
}

.caption {
    font-size: .8em;
    font-style: italic;
}

.bottomarticle {
    padding-bottom: 3em;
}